# ---------- Core ----------
# Host and app path
BASE_URL=https://topuptalent.com
API_PREFIX=HRMBackendTest

# ---------- Accounts ----------
SUPERADMIN_USER=<superadmin_email@domain.com>
SUPERADMIN_PASS=<set-in-local-or-ci-secret>

HR_USER=<hr_email@domain.com>
HR_PASS=<set-in-local-or-ci-secret>

EMPLOYEE_USER=<employee_email@domain.com>
EMPLOYEE_PASS=<set-in-local-or-ci-secret>

ASSET_L1_USER=<asset_l1_email@domain.com>
ASSET_L1_PASS=<set-in-local-or-ci-secret>

ASSET_L2_USER=<asset_l2_email@domain.com>
ASSET_L2_PASS=<set-in-local-or-ci-secret>

ASSET_L3_USER=<asset_l3_email@domain.com>
ASSET_L3_PASS=<set-in-local-or-ci-secret>

ASSET_STORE_USER=<asset_store_email@domain.com>
ASSET_STORE_PASS=<set-in-local-or-ci-secret>
